@charset "UTF-8";

// Global
//--------------------------------------------------------------------------

html {font-size: 20px;}
ul,li,p,h1,h2,h3 {margin:0;padding:0;}
li {list-style: none;}
body {
	background: #eee;
	margin:0;
	padding:0;
}

h1,h2,h3 {text-align: center;}
