.header {
  height:5rem;
  width: 100%;
  background:#ccc;
}

.menu {
  background:#ddd;
  text-align: center;
  padding:20px 0;
  li {
    display: inline-block;
  }
  a {
    color:#000;
    text-decoration: none;
    display: inline-block;
    background:#ccc;
    padding: 5px 15px;
    border-radius: 8px;
  }
  a:hover {
    color:#fff;
    background-color: #333;
  }
}

a.router-link-active {
  background:#666;
  color:#fff;
}

.footer {
  height:10rem;
  width: 100%;
  background: #333;
  position: fixed;
  bottom:0;
}

.mod {
  background-color: #ccc;
  min-height: 30rem;
  width: 100%;
  display: block;
}

.home {
  .list {
    padding:20px;
    li {
      height:50px; background:#ececec;
      margin-bottom:20px;
    }
  }
}
